@charset "UTF-8";

body {
  background-color: #EEEFFF;
  font-size: 12pt;
  margin: 3px;
}
h1{
  background-color: #006600;
  font-size: 55pt;
  padding:3px;
}

p.header{
  font-size: 14pt;
  font-weight: bold;
}

p.footer{
  font-size: 9pt;
  text-align:right;
  border-bottom: 1px solid #006600;
}
